@{
    ViewBag.Title = "About this website";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This Website is used to create/edit existing information displayed on mobile devices. This is a Content Management System for Institute Of Human Origins Native Apps</p>
