@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Institute of Human Origins<br />
    Arizona State University<br />
    PO Box 874101<br />
    Tempe, AZ 85287-4101
    <abbr title="Phone">P:</abbr>
    480.727.6580
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:iho@asu.edu">iho@asu.edu</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>